@{
    ViewData["Title"] = "Home Page";
}



<div id="login">
    <h3 class="text-center text-white pt-5 ">Consulta E-mails Locaweb</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="/home/autenticar?chave=9999" method="post">
                        <h3 class="text-center text-info txt_color">Autenticação</h3>
                        <div class="form-group">
                            <label for="username" class="text-info txt_color">Usuário:</label><br>
                            <input type="text" name="username" id="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info txt_color">Senha:</label><br>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>
                        <div class="form-group">

                            <input type="submit" name="submit" class="btn btn-danger btn-block font_btn" value="Entrar">
                        </div>

                        <span>@(Context.Request.Query["msg"])</span>

                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .txt_color {
        color: #F2F2F2 !important;
    }

    .font_btn{
        font-weight:bold;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>
